<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Sample Geo Location</h1>
      </ion-header-bar>
      <ion-content ng-controller="MainController">
        <div class="row padding">
          <button class="button button-block"
              ng-click="saveLocation(model.location)">
                <b>lat</b> {{ model.location.latitude }}<br>
                <b>lng</b> {{ model.location.longitude }}<br>
                <b>accuracy</b> {{ model.location.accuracy }}<br>
          </button>
        </div>
        <div class="row padding">
          <button class="button button-block" ng-if="model.location_saved">
              saved location: 
              <b>{{ model.location_saved.latitude }}</b>,
              <b>{{ model.location_saved.longitude }}</b>,
              <b>{{ model.location_saved.accuracy }}</b>
          </button>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
